<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>View customers</title>
</head>
<body>
<nav>
    ...
</nav>

<h1>Existing information</h1>
<table>
    <thead>
    <tr>
        <th>CustomerId</th>
    </tr>
    </thead>
    <tbody>
        <td th:text="${customerById.getCustomerId()}"></td>
        <td th:text="${customerById.getFirstName()}"></td>
        <td th:text="${customerById.getLastName()}"></td>
        <td th:text="${customerById.getCounty()}"></td>
        <td th:text="${customerById.getPostalCode()}"></td>
        <td th:text="${customerById.getPhoneNumber()}"></td>
        <td th:text="${customerById.getEmail()}"></td>
   </tbody>
</table>